@use "./variables.module.scss" as v;

.header {
  margin: 1rem;
  display: grid;
  grid-column: 1/4;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
