@use "./variables.scss" as v;

#toschools {
  background-color: v.$grey;
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
  .content_wrapper {
    grid-column: 2/3;
    margin: 1rem 1rem 3rem 1rem;
  }
  h2 {
    @include v.h2size(0.5);
    padding: 2rem 0rem 1rem 0rem;
    @include v.for-tablet-portrait {
      @include v.h2size(0.7);
      padding: 4rem 0rem 1rem 0rem;
    }
  }
  h3 {
    @include v.h3size(0.4);
    @include v.for-tablet-portrait {
      @include v.h3size(0.5);
    }
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1rem 4rem 1rem;
    @include v.for-tablet-portrait {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 3rem;
      padding: 8rem 2rem 4rem 2rem;
    }
  }
  .facts {
    background-color: v.$blue;
    grid-column: 2/3;
    border-radius: 5px;
    padding: 1rem;
    h4 {
      text-align: center;
      @include v.h4size(0.7);
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem 0rem 2rem 0rem;
      gap: 1rem;
    }
  }
  p {
    grid-row: 1;
  }
  .button_wrapper {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    @include v.for-tablet-portrait {
      padding: 3rem 0rem 1rem 0rem;
    }
  }
  button {
    border: none;
    background-color: v.$blue;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid v.$blue;
    transition: 0.5s ease-out;
    h5 {
      @include v.h5size(0.8);
      font-weight: 500;
    }
  }
  button:hover {
    background-color: v.$white;
    border: 2px solid v.$blue;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include v.for-tablet-portrait {
      flex-direction: row;
    }
    img {
      max-width: 100%;
    }
  }
}
