@use "./components/variables.module.scss" as v;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  background-color: v.$white;
}

h1,
h2,
h3 {
  @include v.headingfont;
}
h4,
h5,
p {
  @include v.pfont;
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
  place-content: center;

  .main_content {
    display: grid;
    grid-column: 2/3;
  }
}
.logo {
  width: 12rem;
}
